!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title 上智大学軽音楽同好会
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags



  
  %body
    %header#header
      %h1 上智大学軽音学同好会
    %nav#gnav
      %ul.inner(style="list-style:none;")
        %li
          =link_to "TOP", welcome_index_path
        %li
          =link_to "TOP", welcome_index_path
        %li
          =link_to "TOP", welcome_index_path
        %li
          =link_to "TOP", welcome_index_path
        %li
          =link_to "TOP", welcome_index_path
        %li
          =link_to "TOP", welcome_index_path
    %div
    = yield
